.main {
  width: 100%;
  min-height: calc(100vh - 200px);
  position: relative;
  margin-bottom: 60px;
}
.titel {
  width: 100%;
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.titel h1 {
  color: var(--dark);
  font-size: 25px;
  font-weight: 900;
  text-transform: capitalize;
}
.titel h1 span {
  color: tomato;
  font-size: 30px;
  position: relative;
  top: 5px;
}
