.main {
  width: 100%;
  height: 200px;
  position: relative;
  margin-bottom: 100px;
}
.conteinar {
  width: 85%;
  height: 100%;
  position: relative;
  margin: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.442);
  overflow: hidden;
}
.img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  /* background-color: #00ffa3; */
}
.text {
  width: 100%;
  height: 100%;
  background: linear-gradient(60deg, var(--green), 50%, #11111100);
  padding: 10px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--dark);
  text-transform: uppercase;
}
.text h1 {
  font-size: 30px;
  font-weight: 900;
  transform: skew(-20deg, 0deg);
  padding-bottom: 10px;
  text-shadow: 3px 2px 0 tomato;
}
.text button {
  font-size: 30px;
  font-weight: 800;
  width: 400px;
  border: none;
  padding: 10px 25px 15px 25px;
  background-color: transparent;
  background-image: url("../public/img/btn-bg.png");
  background-size: 100% 100%;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px 0px orange;
  cursor: pointer;
  filter: hue-rotate(-45deg);
}
.text button:hover {
  filter: hue-rotate(85deg);
}

@media (max-width: 750px) {
  .main {
    height: 180px;
  }
  .conteinar {
    width: 90%;
  }
  .text h1 {
    font-size: 20px;
    text-shadow: 1px 1px 0 tomato;
  }
  .text button {
    font-size: 20px;
    width: 180px;
    text-shadow: 1px 1px 0px orange;
  }
}
